{% extends "base.jinja2" %}
{% block contents %}


<h1 class="text-3xl my-2">COVID-19 Cases</h1>
<table class="table-auto">
    <tr>
        <td class="pr-8 font-semibold">Date</td>
        <td id="info-date-generated"></td>
    </tr>
    <tr>
        <td class="pr-8 font-semibold">Region</td>
        <td id="info-region"></td>
    </tr>
    <tr>
        <td class="pr-8 font-semibold">Source</td>
        <td><a id="info-source" class="hover:underline hover:text-blue-900"></a></td>
    </tr>
</table>

<div class="mt-6 flex">
    <span class="font-medium">Show Days: </span>
    <ul class="font-light list-none selection-list">
        <li><a href="#" class="hover:underline" id="days-60">60</a></li>
        <li><a href="#" class="hover:underline" id="days-90">90</a></li>
        <li><a href="#" class="hover:underline" id="days-180">180</a></li>
        <li><a href="#" class="hover:underline" id="days-all">All Time</a></li>
    </ul>
</div>

<div class="chart-container">
    <h2 class="text-xl mt-8 mb-1">Daily Change</h2>
    <canvas id="daily-change"></canvas>
</div>

<div class="chart-container">
    <h2 class="text-xl mt-12 mb-1">Cumulative Cases</h2>
    <canvas id="cumulative-cases"></canvas>
</div>

<div class="chart-container">
    <h2 class="text-xl mt-12 mb-1">Estimated Growth</h2>
    <canvas id="growth-factor"></canvas>
</div>

<script src="details.js"></script>

{% endblock %}
