{% extends "base.jinja2" %}
{% block contents %}

<div class="flex my-2 justify-center md:justify-start">
    <h1 class="text-3xl my-0">COVID-19 Cases</h1>
    <a href=".." class="link mt-auto mb-1 mx-2">
        <!-- Icon from https://heroicons.com/ -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </a>
</div>

<table class="table-auto mx-auto md:mx-0">
    <tr>
        <td class="pr-8 font-semibold">Date</td>
        <td id="info-date-generated"></td>
    </tr>
    <tr>
        <td class="pr-8 font-semibold">Region</td>
        <td id="info-region"></td>
    </tr>
    <tr>
        <td class="pr-8 font-semibold">Source</td>
        <td>
            <a id="info-source" class="link"></a>
            <!-- Icon from https://heroicons.com/ -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="link-icon">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg>
        </td>
    </tr>
</table>

<div class="mt-6 flex flex-col md:flex-row items-center md:justify-start">
    <span class="font-medium">Show Days: </span>
    <ul class="font-light list-none selection-list">
        <li><a href="#" class="hover:underline" id="days-60">60</a></li>
        <li><a href="#" class="hover:underline" id="days-90">90</a></li>
        <li><a href="#" class="hover:underline" id="days-180">180</a></li>
        <li><a href="#" class="hover:underline" id="days-all">All Time</a></li>
    </ul>
</div>

<div class="chart-container md:h-96">
    <h2 class="text-xl mt-8 mb-1 text-center md:text-left">Daily Change</h2>
    <canvas id="daily-change"></canvas>
</div>

<div class="chart-container md:h-96">
    <h2 class="text-xl mt-12 mb-1 text-center md:text-left">Cumulative Cases</h2>
    <canvas id="cumulative-cases"></canvas>
</div>

<div class="chart-container md:h-96">
    <h2 class="text-xl mt-12 mb-1 text-center md:text-left">Estimated Growth</h2>
    <canvas id="growth-factor"></canvas>
</div>

<script src="details.js"></script>

{% endblock %}
